.tools_wrapper {
  padding-bottom: 24px;
}

.tools_wrapper,
.tools_left,
.tools_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 834px) {
  .tools_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
  }
  .tools_left,
  .tools_right {
    display: flex;
    flex-direction: column;
  }
  .tools_left {
    align-items: start;
  }
  .tools_right {
    align-items: end;
  }
}
