.heading_wrapper {
  text-align: center;

  span {
    line-height: inherit;
    font-size: inherit;

    color: transparent;

    background-image: linear-gradient(
      to bottom,
      var(--color-text-yellow-500),
      var(--color-text-yellow-400),
      var(--color-text-yellow-500)
    );
    /* Recorta o fundo para ficar exatamente no formato do texto */
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.text_xl_wrapper,
.text_md_wrapper,
.text_sm_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text_xl_wrapper {
  column-gap: 16px;
}

.text_md_wrapper {
  column-gap: 12px;
}

@media (min-width: 834px) {
  .text_xl_wrapper {
    column-gap: 32px;
  }

  .text_md_wrapper {
    column-gap: 16px;
  }
}
