.hero_wrapper {
  position: relative;
  padding-block: 88px 32px;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  min-height: 100dvh;

  background-color: var(--color-bg-dark-900);

  overflow: hidden;
}

.background_container {
  max-width: 1280px;
}

.background_image {
  height: 100%;

  background-image:
    url("../../../../assets//images/mockingjay-logo.svg"),
    url("../../../../assets/images/arrows.svg"),
    url("../../../../assets/images/bow-and-arrow.svg");
  background-repeat: no-repeat;
  background-size:
    48px auto,
    96px auto,
    clamp(660px, 80%, 960px) auto;
  background-position:
    top 20px center,
    bottom -40px center,
    calc(50% - 80px) center;
}

.section_container {
  flex: 1;
  display: flex;
}

.content_wrapper {
  position: relative;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;

  padding-block: 124px 212px;

  p {
    color: var(--color-white);
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 834px) {
  .content_wrapper {
    gap: 32px;
  }
  .background_image {
    background-position:
      top 20px center,
      bottom -40px center,
      calc(50% - 160px) center;
  }
}
