.section_wrapper {
  position: relative;
  padding-bottom: 470px;

  background-color: var(--color-bg-yellow-500);
}

.background_container {
  max-width: 1280px;
}

.background_image {
  height: 100%;

  background-image:
    url("../../../../assets//images/city-silhouette-1.svg"),
    url("../../../../assets//images/light-left.svg"),
    url("../../../../assets//images/light-right.svg"),
    url("../../../../assets//images/city-silhouette-2.svg");
  background-repeat: no-repeat;
  background-size:
    auto 470px,
    451px 100%,
    451px 100%,
    auto 470px;
  background-position:
    bottom left,
    center left,
    center right,
    bottom right;
}

.section_summary span,
.section_summary h2 {
  color: var(--color-text-red-500);
}

.section_summary p {
  margin-top: 12px;

  span {
    color: var(--color-black);
  }
}

@media (min-width: 1020px) {
  .background_image {
    background-image:
      url("../../../../assets//images/city-silhouette-1.svg"),
      url("../../../../assets//images/light-left.svg"),
      url("../../../../assets//images/light-right.svg"),
      url("../../../../assets//images/city-silhouette-2.svg"),
      url("../../../../assets//images/light-center.svg");
    background-size:
      auto 470px,
      440px 100%,
      440px 100%,
      auto 470px,
      451px 100%;
    background-position:
      bottom left,
      center left 72px,
      center right 72px,
      bottom right,
      center center;
  }
}
