.background_container {
  max-width: 1180px;
}

.background_image {
  position: relative;
  top: -54px;
  height: calc(100% + 54px);

  background-image: url("../../../../../assets/images/birds.svg");
  background-repeat: no-repeat;
  background-size: 376px auto;
  background-position: calc(50% - -108px) top;
}

@media (min-width: 834px) {
  .background_image {
    top: -68px;
    height: calc(100% + 68px);

    background-image: url("../../../../../assets/images/birds-desktop.svg");
    background-size: contain;
    background-position: calc(50% - -196px) bottom;
  }
}
