.tribute_section {
  background-color: var(--color-bg-red-500);
}

.section_summary span,
.section_summary h2 {
  color: var(--color-text-yellow-500);
}
.section_summary p {
  margin-top: 12px;
  color: var(--color-white);

  a {
    color: var(--color-white);
  }
}
