.section_wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  background-color: var(--color-bg-green-500);

  padding-bottom: 224px;
}

.section_summary span,
.section_summary h2 {
  color: var(--color-text-yellow-500);
}
.section_summary p {
  margin-top: 12px;
  color: var(--color-white);
}

@media (min-width: 834px) {
  .section_wrapper {
    padding-bottom: 348px;
  }
}
