.card_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  text-align: center;

  h3 {
    color: var(--color-text-red-500);
  }
  ul {
    color: var(--color-black);
  }
}

@media (min-width: 834px) {
  .card_wrapper {
    gap: 8px;
  }
}
