@import url("./fonts.css");
@import url("./reset.css");
@import url("./colors.css");

body {
  position: relative;
  min-height: 100dvh;
  background-color: var(--color-bg-dark-900);
  font-family: "Poppins", sans-serif;
}

.max_width_container {
  max-width: 992px;
  margin-inline: auto;
  padding-inline: 16px;
}

.section_summary_center {
  padding-block: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.sr_only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
