.background_container {
  display: grid;
  max-width: 1360px;

  overflow: hidden;

  .background_image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    background-image: url("../../../../../assets/images/mockingjay-graffiti.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 88px) -38px;
    background-size: clamp(360px, 44%, 420px) auto;
  }

  .hands_wrapper {
    position: relative;

    grid-column: 1 / -1;
    grid-row: 1 / -1;

    height: 100%;

    display: grid;
    align-items: end;
    justify-items: center;

    transform: translateX(100px);

    svg {
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      width: 100%;
      height: auto;

      &:nth-child(1) {
        z-index: 3;
        max-width: 230px;
      }
      &:nth-child(2) {
        z-index: 2;
        max-width: 192px;
        transform: translateX(-144px);
      }
      &:nth-child(3) {
        z-index: 1;
        max-width: 170px;
        transform: translateX(116px);
      }
    }
  }
}

@media (min-width: 834px) {
  .background_container {
    .background_image {
      background-position: 10% -44px;
    }

    .hands_wrapper {
      transform: translateX(320px);
    }
  }
}
